<div class="d-flex">
    <!-- Inicio Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- Fin Siderbar -->
    <hr class="text-white">

    <div class="container">
        <div class="row p-3">
            <div class="coll">
                <h5>Buscar:</h5>
                <input type="text" class="form-control" placeholder="Buscar Gifs..">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus autem placeat laboriosam nesciunt qui, eligendi alias. Dicta, totam autem! Doloribus sequi enim omnis tempora illo, non odit id vitae obcaecati?
            </div>
        </div>
    </div>

</div>